Repository Clarity-Digital-Twin/brain-go-brr-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-requirements-txt, makefile-help

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run pre-commit install
# Run: uv run pre-commit run --all-files

repos:
  # UV lock file updates
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.24
    hooks:
      - id: uv-lock

  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8, etc.)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-tqdm, pydantic]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|notebooks/)

  # YAML/TOML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleanup
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-ruff
        args: [--fix]
      - id: nbqa-mypy
        args: [--ignore-missing-imports]

  # Clear Jupyter outputs
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--strip-empty-cells]

# Local hooks for custom checks
  - repo: local
    hooks:
      - id: no-requirements-txt
        name: No requirements.txt allowed (use pyproject.toml)
        entry: 'requirements\.txt'
        language: pygrep
        types: [text]
        exclude: ^(\.git/|docs/)

      - id: makefile-help
        name: Check Makefile has help target
        entry: '^help:'
        language: pygrep
        files: ^Makefile$
        pass_filenames: false

refactor: Introduce gradient and weight statistics computation for monitoring
  src/brain_brr/train/train_step.py
Due: no-requirements-txt

refactor: Enhance logging options in training step and improve stitching method formatting
  src/brain_brr/eval/metrics.py
  src/brain_brr/train/train_step.py
Due: no-requirements-txt

refactor: Add logging for gradient and weight statistics in training step
  src/brain_brr/train/train_step.py
Due: no-requirements-txt

refactor: Update training loop to include logging for gradients and weights
  src/brain_brr/train/loop.py
Due: no-requirements-txt

refactor: Complete configuration wiring for all fields
  CONFIG_ADDITIONAL_GAPS.md
Due: no-requirements-txt

refactor: Close all configuration wiring gaps and finalize schema implementation
  CONFIG_ADDITIONAL_GAPS.md
Due: no-requirements-txt

refactor: Add type hint for Any in train_step.py
  src/brain_brr/train/train_step.py
Due: no-requirements-txt

refactor: Correct window duration calculation in EEGWindowDataset
  src/brain_brr/data/datasets.py
Due: no-requirements-txt

refactor: Update fake load function to include montage application parameter
  tests/unit/data/test_datasets.py
Due: no-requirements-txt

refactor: Optimize CUDA memory allocation in latency tests
  tests/performance/test_latency.py
Due: no-requirements-txt

refactor: Use median for latency degradation checks in performance tests
  tests/performance/test_latency.py
Due: no-requirements-txt

refactor: Adjust latency degradation threshold for WSL2 environments
  tests/performance/test_latency.py
Due: no-requirements-txt

docs: Add CONFIG_ADDITIONAL_GAPS.md for tracking configuration wiring gaps
  docs/archive_v2/CONFIG_ADDITIONAL_GAPS.md
Due: none

docs: Add comprehensive Debt Elimination Roadmap for technical debt management
  DEBT_ELIMINATION_ROADMAP.md
Due: no-requirements-txt

docs: Update BLIND_DEBT_AUDIT.md with verification status and next steps
  BLIND_DEBT_AUDIT.md
  DEBT_ELIMINATION_ROADMAP.md
Due: no-requirements-txt

docs: Update DEBT_ELIMINATION_ROADMAP.md with revised success criteria
  DEBT_ELIMINATION_ROADMAP.md
Due: no-requirements-txt

docs: Update configuration schema and training documentation for v3.6
  docs/03-configuration/config-schema.md
  docs/05-training/checkpoint-strategy.md
  docs/05-training/local.md
  docs/05-training/modal-deployment.md
Due: none

docs: Update mid-epoch checkpointing documentation for v3.6
  docs/05-training/monitoring.md
  docs/05-training/resume.md
Due: none

docs: Revise mid-epoch checkpointing instructions in local training documentation
  docs/05-training/local.md
Due: none

docs: Enhance environment variable documentation for performance testing
  docs/03-configuration/env-vars.md
  src/brain_brr/utils/env.py
Due: no-requirements-txt

docs: Finalize debt elimination with comprehensive updates and verification
  BLIND_DEBT_AUDIT.md
  DEBT_ELIMINATION_ROADMAP.md
  src/brain_brr/config/schemas.py
Due: no-requirements-txt

docs: Clean up schema comments and update error messaging for CHB-MIT dataset
  BLIND_DEBT_AUDIT.md
  DEBT_ELIMINATION_ROADMAP.md
  src/brain_brr/train/loop.py
  tests/performance/test_latency.py
Due: no-requirements-txt

docs: Introduce Blind Debt Audit and Debt Elimination Roadmap for comprehensive documentation alignment
  docs/archive_v2/BLIND_DEBT_AUDIT.md
  docs/archive_v2/DEBT_ELIMINATION_ROADMAP.md
Due: none

docs: Introduce Deep Technical Debt Audit for systematic codebase assessment
  DEEP_TECHNICAL_DEBT.md
Due: no-requirements-txt

docs: Update DataConfig schema to reflect supported dataset
  src/brain_brr/config/schemas.py
Due: no-requirements-txt

refactor: Simplify dataset loading in training loop
  src/brain_brr/train/loop.py
Due: no-requirements-txt

refactor: Remove deprecated channel synonym handling from pick_utils.py
  DEEP_TECHNICAL_DEBT.md
  configs/local/smoke.yaml
  configs/modal/smoke.yaml
  src/brain_brr/config/schemas.py
  src/brain_brr/utils/pick_utils.py
Due: no-requirements-txt

docs: Reinstate and document channel synonym helper in pick_utils.py
  DEEP_TECHNICAL_DEBT.md
  src/brain_brr/config/schemas.py
  src/brain_brr/utils/pick_utils.py
Due: no-requirements-txt

docs: Release v3.6.2 - Complete Debt Elimination Baseline
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: no-requirements-txt

docs: Release v3.6.2 - Complete Debt Elimination Baseline
  RELEASE_NOTES.md
Due: no-requirements-txt

docs: Add Deep Technical Debt Audit report for codebase assessment
  docs/archive_v2/DEEP_TECHNICAL_DEBT.md
Due: none

docs: Update POLISH_ITEMS.md for v3.6.2 - Comprehensive Audit and Quality Improvements
  POLISH_ITEMS.md
Due: no-requirements-txt

docs: Add Remaining Debt Implementation Guide for v3.6.2
  docs/REMAINING_DEBT_IMPLEMENTATION_GUIDE.md
Due: none

docs: Add Remaining Debt Implementation Guide for v3.6.2
  REMAINING_DEBT_IMPLEMENTATION_GUIDE.md
Due: no-requirements-txt

feat: Add config validation script to ensure consistency with constants
  Makefile
  scripts/validate_configs.py
  src/brain_brr/train/val_step.py
Due: no-requirements-txt, makefile-help

refactor: Remove edge-related constants from config validation script
  scripts/validate_configs.py
Due: no-requirements-txt

feat: Add sensitivity metric key formatting function to constants.py
  src/brain_brr/constants.py
Due: no-requirements-txt

refactor: Update sensitivity metric key generation in validation step
  src/brain_brr/train/val_step.py
Due: no-requirements-txt

feat: Introduce Expected Calibration Error (ECE) constant for metric calculations
  src/brain_brr/constants.py
  src/brain_brr/eval/metrics.py
  src/brain_brr/train/val_step.py
Due: no-requirements-txt

feat: Introduce EPSILON_NUMERICAL constant for enhanced configuration stability
  src/brain_brr/config/schemas.py
Due: no-requirements-txt
