Repository Clarity-Digital-Twin/brain-go-brr-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-requirements-txt, makefile-help

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run pre-commit install
# Run: uv run pre-commit run --all-files

repos:
  # UV lock file updates
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.24
    hooks:
      - id: uv-lock

  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8, etc.)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-tqdm, pydantic]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|notebooks/)

  # YAML/TOML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleanup
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-ruff
        args: [--fix]
      - id: nbqa-mypy
        args: [--ignore-missing-imports]

  # Clear Jupyter outputs
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--strip-empty-cells]

# Local hooks for custom checks
  - repo: local
    hooks:
      - id: no-requirements-txt
        name: No requirements.txt allowed (use pyproject.toml)
        entry: 'requirements\.txt'
        language: pygrep
        types: [text]
        exclude: ^(\.git/|docs/)

      - id: makefile-help
        name: Check Makefile has help target
        entry: '^help:'
        language: pygrep
        files: ^Makefile$
        pass_filenames: false

docs: update deployment architecture documentation for v3 integration
  docs/02-model/deployment/architecture.md
Due: none

docs: enhance Mamba documentation for edge stream and node processing
  docs/02-model/components/mamba.md
  docs/02-model/deployment/mamba-kernels.md
Due: none

docs: update deployment documentation for v3 architecture and performance
  docs/03-deployment/README.md
  docs/03-deployment/local/setup.md
Due: none

docs: update modal performance optimization report for v3 architecture
  docs/03-deployment/modal/PERFORMANCE_OPTIMIZATION.md
Due: none

docs: add comprehensive documentation for V3 architecture implementation
  V3_ARCHITECTURE_AS_IMPLEMENTED.md
  docs/02-model/deployment/architecture.md
  docs/03-deployment/modal/deploy.md
  docs/03-deployment/modal/preflight.md
  docs/03-deployment/operations/smoke-tests.md
  docs/03-deployment/operations/training.md
  docs/04-research/experiments/channel-annotations.md
  docs/04-research/future/README.md
  docs/04-research/future/v2_6_dynamic_gnn_lpe_plan.md
  docs/GNN_LPE_CRITICAL_ANALYSIS.md
  docs/V3_CRITICAL_VALIDATION.md
  docs/V3_FINAL_IRONCLAD.md
  docs/V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

docs: update canonical roadmap and archive future architecture stack
  docs/04-research/future/CANONICAL-ROADMAP.md
  docs/04-research/future/gnn-tcn-stack.md
Due: none

refactor: ensure contiguous tensor for CUDA in SeizureDetector
  src/brain_brr/models/detector.py
Due: no-requirements-txt

refactor: ensure contiguous tensor for CUDA in BiMamba2
  src/brain_brr/models/mamba.py
Due: no-requirements-txt

docs: update known issues section in V3 architecture documentation
  V3_ARCHITECTURE_AS_IMPLEMENTED.md
Due: no-requirements-txt

docs: add documentation for BiMamba2 CUDA incompatibility with V3 architecture
  P0_MAMBA2_CUDA_INCOMPATIBILITY.md
  test_mamba2_headdim.py
Due: no-requirements-txt

refactor: add headdim parameter validation in BiMamba2Layer
  P0_MAMBA2_CUDA_INCOMPATIBILITY.md
  P0_MAMBA2_CUDA_INCOMPATIBILITY_FIXED.md
  src/brain_brr/models/detector.py
  src/brain_brr/models/mamba.py
  test_edge_mamba_quick.py
  test_v3_mamba_fix.py
Due: no-requirements-txt

cleanup: remove temporary test scripts
  test_edge_mamba_quick.py
  test_mamba2_headdim.py
  test_v3_mamba_fix.py
Due: no-requirements-txt

docs: update V3 architecture docs with headdim fix details
  P0_MAMBA2_CUDA_INCOMPATIBILITY.md
  P0_MAMBA2_HEADDIM_FIX_RESOLVED.md
  V3_ARCHITECTURE_AS_IMPLEMENTED.md
Due: no-requirements-txt

fix: correct smoke test configuration for V3
  configs/local/smoke.yaml
  run_smoke_test.sh
Due: no-requirements-txt

fix: update Modal configs for V3 architecture
  configs/MODAL_A100_CONSISTENCY.md
  configs/modal/smoke.yaml
Due: no-requirements-txt

refactor: enhance BiMamba2 configuration for CUDA compatibility
  configs/LOCAL_CONFIG_CONSISTENCY.md
  configs/README.md
  docs/P0_MAMBA2_HEADDIM_FIX_RESOLVED.md
Due: no-requirements-txt

fix: add safe test runner to prevent OOM crashes
  Makefile
  TEST_SUITE_OOM_FIX.md
  run_tests_safe.sh
Due: no-requirements-txt, makefile-help

fix: properly configure test suite for V3 memory requirements
  Makefile
  TEST_SUITE_OOM_FIX.md
  run_tests_safe.sh
Due: no-requirements-txt, makefile-help

docs: add V3 architecture implementation details
  docs/architecture/V3_ACTUAL.md
Due: none

docs: update project overview to include V3 architecture
  AGENTS.md
  CLAUDE.md
  README.md
  V3_ARCHITECTURE_AS_IMPLEMENTED.md
Due: no-requirements-txt

docs: add V3 implementation reference to README
  README.md
Due: no-requirements-txt

docs: update setup instructions and configuration comments for V2 and V3
  Makefile
  README.md
  configs/README.md
  configs/local/smoke.yaml
  configs/local/train.yaml
  configs/modal/smoke.yaml
  configs/modal/train.yaml
  docs/03-deployment/local/setup.md
  docs/04-research/future/roadmap.md
  docs/GNN_LPE_CRITICAL_ANALYSIS.md
  docs/V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
  docs/archive/ARCHITECTURE_EVOLUTION.md
  docs/archive/MIGRATION_NOTES.md
Due: no-requirements-txt, makefile-help

docs: update configuration files for V3 edge stream implementation
  configs/MODAL_A100_CONSISTENCY.md
  configs/local/smoke.yaml
  configs/local/train.yaml
  configs/modal/smoke.yaml
  configs/modal/train.yaml
  docs/V3_FINAL_IRONCLAD.md
Due: no-requirements-txt

docs: add critical analysis of V3 architecture in FINAL_QUESTIONS.md
  FINAL_QUESTIONS.md
  pyproject.toml
Due: no-requirements-txt

fix: update PyTorch Geometric installation instructions in detector and GNN modules
  src/brain_brr/models/detector.py
  src/brain_brr/models/gnn_pyg.py
Due: no-requirements-txt

docs: update GNN integration instructions to prefer make setup-gpu
  docs/04-research/future/v2_6_dynamic_gnn_lpe_plan.md
Due: none

docs: update local training configuration comments for cache requirements
  configs/local/train.yaml
Due: no-requirements-txt

docs: update installation guide and add GNN+LPE critical analysis
  INSTALLATION.md
  docs/archive/GNN_LPE_CRITICAL_ANALYSIS.md
  docs/archive/P0_MAMBA2_HEADDIM_FIX_RESOLVED.md
  docs/archive/V3_CRITICAL_VALIDATION.md
  docs/archive/V3_FINAL_IRONCLAD.md
  docs/archive/V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

docs: correct paths in documentation for archived materials
  docs/02-data/overview.md
  docs/09-development/versioning-and-roadmap.md
  docs/README.md
  docs/archived_index.md
Due: none

docs: update archive mapping paths for historical documents
  docs/ARCHIVE_MAPPING.md
Due: none

docs: update dynamic Laplacian positional encoding implementation plan
  DYNAMIC_LPE_IMPLEMENTATION.md
  FINAL_QUESTIONS.md
  docs/00-overview/architecture-summary.md
  docs/00-overview/overview.md
  docs/00-overview/performance-targets.md
Due: no-requirements-txt

docs: remove FEMBA documentation and associated resources
  literature/markdown/FEMBA/FEMBA.md
  literature/markdown/FEMBA/FEMBA.pdf-1-0.png
  literature/markdown/FEMBA/FEMBA.pdf-1-1.png
  literature/markdown/FEMBA/FEMBA.pdf-1-2.png
  literature/markdown/FEMBA/FEMBA.pdf-1-3.png
  literature/markdown/FEMBA/FEMBA.pdf-4-0.png
  literature/markdown/FEMBA/metadata.json
Due: no-requirements-txt

docs: update environment setup documentation with system requirements and installation steps
  docs/01-installation/env-setup.md
Due: none

docs: enhance GPU stack and data overview documentation
  docs/01-installation/gpu-stack.md
  docs/02-data/overview.md
Due: none

docs: enhance installation and data documentation with preflight checks and cache layout
  docs/01-installation/preflight-checks.md
  docs/02-data/cache-layout.md
  docs/02-data/preprocessing.md
  docs/05-training/monitoring.md
  src/brain_brr/config/schemas.py
  src/brain_brr/models/gnn_pyg.py
Due: no-requirements-txt

fix(detector): update GNN configuration for dynamic positional encoding
  src/brain_brr/models/detector.py
  tests/unit/models/test_dynamic_pe.py
Due: no-requirements-txt

fix(settings): add dynamic positional encoding flag to smoke test command
  .claude/settings.local.json
  configs/local/smoke.yaml
  docs/03-configuration/config-schema.md
Due: no-requirements-txt

docs: update local and modal configuration documentation for V3 enhancements
  docs/03-configuration/local-configs.md
  docs/03-configuration/modal-configs.md
Due: none

docs: update environment variables documentation for improved clarity and functionality
  docs/03-configuration/env-vars.md
Due: none
