Repository Clarity-Digital-Twin/brain-go-brr-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-requirements-txt, makefile-help

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run pre-commit install
# Run: uv run pre-commit run --all-files

repos:
  # UV lock file updates
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.24
    hooks:
      - id: uv-lock

  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8, etc.)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-tqdm, pydantic]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|notebooks/)

  # YAML/TOML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleanup
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-ruff
        args: [--fix]
      - id: nbqa-mypy
        args: [--ignore-missing-imports]

  # Clear Jupyter outputs
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--strip-empty-cells]

# Local hooks for custom checks
  - repo: local
    hooks:
      - id: no-requirements-txt
        name: No requirements.txt allowed (use pyproject.toml)
        entry: 'requirements\.txt'
        language: pygrep
        types: [text]
        exclude: ^(\.git/|docs/)

      - id: makefile-help
        name: Check Makefile has help target
        entry: '^help:'
        language: pygrep
        files: ^Makefile$
        pass_filenames: false

fix: update test command structure in Makefile for improved clarity and GPU support
  Makefile
Due: no-requirements-txt, makefile-help

fix: improve test command formatting in Makefile for better readability
  Makefile
Due: no-requirements-txt, makefile-help

fix: enhance test command structure in Makefile for improved clarity and GPU integration
  Makefile
Due: no-requirements-txt, makefile-help

fix: enhance latency variance tolerance in performance tests
  tests/performance/test_latency.py
Due: no-requirements-txt

fix: add OS import for performance testing in latency module
  tests/performance/test_latency.py
Due: no-requirements-txt

fix: add warning for high latency variance in performance tests
  tests/performance/test_latency.py
Due: no-requirements-txt

fix: enhance memory usage assertions in performance tests
  tests/performance/test_memory.py
Due: no-requirements-txt

fix: improve warning for high latency variance in performance tests
  tests/performance/test_latency.py
Due: no-requirements-txt

fix: update memory leak detection in performance tests
  tests/performance/test_memory.py
Due: no-requirements-txt

fix: enhance memory growth assertion in performance tests
  tests/performance/test_memory.py
Due: no-requirements-txt

fix: optimize seizure ratio calculation in training loop
  src/brain_brr/data/datasets.py
  src/brain_brr/train/loop.py
Due: no-requirements-txt

fix: eliminate 2-hour Modal bottleneck by skipping sampling for BalancedSeizureDataset
  src/brain_brr/data/datasets.py
  src/brain_brr/train/loop.py
Due: no-requirements-txt

fix: improve dataset composition logging in BalancedSeizureDataset
  src/brain_brr/data/datasets.py
Due: no-requirements-txt

docs: add comprehensive data pipeline documentation and flow diagrams
  docs/01-data-pipeline/BALANCED_DATASET_OPTIMIZATION.md
  docs/01-data-pipeline/COMPLETE_PIPELINE_ARCHITECTURE.md
  docs/01-data-pipeline/PIPELINE_FLOW_DIAGRAM.md
Due: none

feat: enhance Modal deployment with CUDA kernel testing and installation improvements
  deploy/modal/app.py
Due: no-requirements-txt

fix: improve Modal deployment script for CUDA compatibility
  deploy/modal/app.py
Due: no-requirements-txt

docs: update deployment and troubleshooting documentation for CUDA compatibility
  docs/03-operations/deploy-modal.md
  docs/03-operations/troubleshooting.md
Due: none

fix: update Modal deployment script for improved verification and command handling
  .claude/settings.local.json
  deploy/modal/app.py
Due: no-requirements-txt

feat: enhance Modal deployment with local directory mounts for src and configs
  deploy/modal/app.py
  docs/03-operations/deploy-modal.md
Due: no-requirements-txt

docs: update README for configuration paths and training commands
  README.md
Due: no-requirements-txt

fix: refine Mamba CUDA testing in Modal deployment script
  deploy/modal/app.py
Due: no-requirements-txt

docs: update canonical architecture specification with Modal deployment requirements and parameter verification
  docs/02-architecture/canonical-spec.md
  docs/02-architecture/deployment-architecture.md
Due: none

docs: add critical issues resolved and data pipeline architecture documentation
  .claude/settings.local.json
  docs/01-data-pipeline/archive/balanced-dataset-optimization.md
  docs/01-data-pipeline/archive/cache-manifest-architecture.md
  docs/01-data-pipeline/archive/complete-pipeline-architecture.md
  docs/01-data-pipeline/critical-issues-resolved.md
  docs/01-data-pipeline/data-pipeline-architecture.md
  docs/01-data-pipeline/pipeline-flow-diagram.md
  docs/02-architecture/audit-summary.md
  docs/02-architecture/canonical-spec-audit.md
  docs/02-architecture/canonical-spec.md
Due: no-requirements-txt

docs: remove proposed documentation structure file and update README for new organization
  docs/PROPOSED_STRUCTURE.md
  docs/README.md
Due: none

feat: integrate W&B logging into training loop and update YAML config
  configs/modal/train_a100.yaml
  src/brain_brr/train/loop.py
Due: no-requirements-txt

feat: add cache optimization script for Modal deployment
  deploy/modal/app.py
  deploy/modal/cache_optimizer.py
Due: no-requirements-txt

feat: implement cache optimization for Modal training
  deploy/modal/app.py
Due: no-requirements-txt

feat: implement performance optimizations for Modal training
  OPTIMIZATIONS_APPLIED.md
  configs/local/smoke.yaml
  configs/modal/smoke_a100.yaml
  configs/modal/train_a100.yaml
  docs/03-deployment/modal/PERFORMANCE_OPTIMIZATION.md
Due: no-requirements-txt

feat: enhance cache optimization logging in Modal deployment
  deploy/modal/cache_optimizer.py
Due: no-requirements-txt

fix: improve cache optimization logging in Modal deployment
  deploy/modal/app.py
Due: no-requirements-txt

docs: update deployment documentation with critical cache optimization details
  docs/03-deployment/modal/deploy.md
Due: none

docs: update troubleshooting guide with performance optimization details
  docs/03-deployment/troubleshooting.md
Due: none

docs: add Modal Storage Architecture documentation
  MODAL_STORAGE_ARCHITECTURE.md
  configs/modal/smoke_a100.yaml
  configs/modal/train_a100.yaml
  deploy/modal/app.py
  deploy/modal/cache_optimizer.py
  deploy/modal/explore_volumes.py
Due: no-requirements-txt

fix: update W&B entity name in smoke.yaml configuration
  configs/local/smoke.yaml
Due: no-requirements-txt

fix: update data volume mount in Modal deployment
  deploy/modal/app.py
Due: no-requirements-txt

fix: improve cache verification and logging in Modal deployment
  deploy/modal/app.py
Due: no-requirements-txt

refactor: remove cache optimization script for Modal deployment
  deploy/modal/cache_optimizer.py
Due: no-requirements-txt

docs: update troubleshooting and performance optimization documentation
  docs/03-deployment/modal/PERFORMANCE_OPTIMIZATION.md
  docs/03-deployment/modal/deploy.md
  docs/03-deployment/troubleshooting.md
Due: none

docs: add Modal Storage Architecture and Optimizations Applied documentation
  docs/MODAL_STORAGE_ARCHITECTURE.md
  docs/OPTIMIZATIONS_APPLIED.md
Due: none
