Repository Clarity-Digital-Twin/brain-go-brr-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-requirements-txt, makefile-help

no-requirements-txt:
  name: No requirements.txt allowed (use pyproject.toml)
  entry: requirements\.txt
  language: pygrep

makefile-help:
  name: Check Makefile has help target
  entry: '^help:'
  language: pygrep
  pass_filenames: false

feat: enhance project documentation for v2.6 architecture and deployment
  AGENTS.md
  CLAUDE.md
  tests/clinical/test_taes_metrics.py
Due: no-requirements-txt

feat: add GPU memory management for tests
  tests/gpu_memory_guard.py
Due: no-requirements-txt

feat: integrate GPU memory guard into test configuration
  tests/conftest.py
Due: no-requirements-txt

feat: add serial execution marker to TAES metrics tests
  tests/clinical/test_taes_metrics.py
Due: no-requirements-txt

feat: update architecture and deployment documentation for GNN + LPE integration
  docs/02-model/architecture/current-state.md
  docs/03-deployment/modal/PERFORMANCE_OPTIMIZATION.md
  docs/03-deployment/modal/deploy.md
  docs/README.md
  docs/v2_6_dynamic_gnn_lpe_plan.md
Due: none

feat: add comprehensive implementation guide for Dynamic GNN + LPE
  docs/03-deployment/troubleshooting.md
  docs/04-research/future/README.md
  docs/04-research/future/v2_6_dynamic_gnn_lpe_plan.md
  docs/archive/ARCHITECTURE_EVOLUTION.md
  docs/archive/EXPERIMENT_TRACKING.md
  docs/archive/GNN_CRITICAL_FIX_PLAN.md
  docs/archive/HISTORY.md
  docs/archive/MIGRATION_NOTES.md
  docs/archive/MODAL_DEPLOYMENT_GUIDE.md
  docs/archive/MODAL_PERFORMANCE_FIX.md
  docs/archive/v2_6_dynamic_gnn_lpe_CORRECTED.md
Due: none

fix: enhance training stability with NaN protections and adjusted hyperparameters
  Makefile
  configs/local/smoke.yaml
  configs/local/train.yaml
Due: no-requirements-txt, makefile-help

fix: update smoke test configuration for balanced sampling
  configs/local/smoke.yaml
Due: no-requirements-txt

fix: update modal configuration for smoke and training stability
  configs/modal/smoke.yaml
  configs/modal/train.yaml
Due: no-requirements-txt

fix: add critical analysis of GNN+LPE implementation issues
  GNN_LPE_CRITICAL_ANALYSIS.md
Due: no-requirements-txt

fix: audit and plan fixes for GNN + Laplacian PE inefficiencies
  GNN_LPE_CRITICAL_ANALYSIS.md
  tests/unit/models/test_gnn_pyg_vectorized.py
Due: no-requirements-txt

fix: address critical performance bugs in GNN + Laplacian PE implementation
  GNN_LPE_CRITICAL_ANALYSIS.md
Due: no-requirements-txt

feat: introduce V3.0 full TCN-EvoBrain hybrid migration plan
  V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

feat: add V3.0 architecture documentation for TCN + EvoBrain hybrid
  docs/02-model/architecture/v3_tcn_evobrain_hybrid.md
  docs/README.md
Due: none

Refine V3.0 migration plan for TCN + Full EvoBrain dual-stream architecture
  V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

fix: refine GPU memory management in test configurations
  tests/conftest.py
  tests/gpu_memory_guard.py
  tests/unit/models/test_gnn_pyg_vectorized.py
Due: no-requirements-txt

refactor: improve variable naming for clarity in GNN PyG tests
  tests/gpu_memory_guard.py
  tests/unit/models/test_gnn_pyg_vectorized.py
Due: no-requirements-txt

feat: expand V3 migration plan with detailed implementation references and GNN+LPE issues
  V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

feat: enhance V3 migration plan with detailed edge feature implementation and GNN vectorization
  V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

fix: RESTORE PROPER V3 PLAN - vectorized GNN over ALL timesteps, static PE default
  V3_CRITICAL_VALIDATION.md
  V3_FULL_EVOBRAIN_MIGRATION_PLAN.md
Due: no-requirements-txt

docs: ADD DEFINITIVE V3 PLAN - what we're ACTUALLY building
  V3_FINAL_IRONCLAD.md
Due: no-requirements-txt

feat: implement edge feature extraction and adjacency assembly for V3 architecture
  .claude/settings.local.json
  src/brain_brr/models/edge_features.py
  tests/unit/models/test_edge_features.py
Due: no-requirements-txt

fix: update variable naming for clarity in edge feature tests
  tests/unit/models/test_edge_features.py
Due: no-requirements-txt

refactor: optimize edge feature computation and adjacency assembly
  src/brain_brr/models/edge_features.py
  tests/unit/models/test_edge_features.py
Due: no-requirements-txt

feat: add V3 smoke test configuration and update model schemas for dual-stream architecture
  configs/local/smoke_v3.yaml
  src/brain_brr/config/schemas.py
  src/brain_brr/models/detector.py
  src/brain_brr/models/gnn_pyg.py
  tests/unit/models/test_detector_v3.py
Due: no-requirements-txt

refactor: update smoke test configuration for v2.6 and v3.0 compatibility
  configs/local/smoke.yaml
Due: no-requirements-txt

refactor: update local training configuration for v2.6 and v3.0 compatibility
  configs/local/train.yaml
Due: no-requirements-txt

refactor: remove deprecated smoke test configuration for V3 architecture
  configs/local/smoke_v3.yaml
  configs/modal/smoke.yaml
  configs/modal/train.yaml
  tests/unit/models/test_gnn_pyg_vectorized.py
Due: no-requirements-txt

docs: update data documentation for file structure changes
  docs/01-data/README.md
  docs/01-data/issues/data-io.md
Due: none

docs: update data pipeline documentation for manifest and cache rebuild processes
  docs/01-data/pipeline/architecture.md
  docs/01-data/pipeline/cache-rebuild.md
Due: none

docs: update architecture documentation for v3 integration and GNN enhancements
  docs/02-model/architecture/current-state.md
  docs/02-model/architecture/pipeline-diagram.md
  docs/02-model/architecture/v3_tcn_evobrain_hybrid.md
  src/brain_brr/models/detector.py
Due: no-requirements-txt

docs: update audit summaries and findings for v3 implementation
  docs/02-model/analysis/audit-summary.md
  docs/02-model/analysis/spec-audit.md
  docs/02-model/architecture/pipeline-diagram.md
Due: none

docs: correct formatting in pipeline diagram for clarity
  docs/02-model/architecture/pipeline-diagram.md
Due: none

refactor: update SeizureDetector for V3 edge stream architecture
  src/brain_brr/models/detector.py
Due: no-requirements-txt

refactor: optimize edge feature processing in SeizureDetector
  src/brain_brr/models/detector.py
Due: no-requirements-txt

refactor: add edge_mamba_d_model parameter for V3 architecture
  configs/local/smoke.yaml
  configs/local/train.yaml
  configs/modal/smoke.yaml
  configs/modal/train.yaml
  src/brain_brr/config/schemas.py
  src/brain_brr/models/detector.py
  tests/unit/models/test_detector_v3.py
Due: no-requirements-txt

refactor: add safety assertions for Mamba CUDA kernel in SeizureDetector
  src/brain_brr/models/detector.py
Due: no-requirements-txt

refactor: improve assertion formatting in SeizureDetector for clarity
  src/brain_brr/models/detector.py
Due: no-requirements-txt

refactor: enhance edge feature processing in SeizureDetector for v3 architecture
  docs/02-model/architecture/v3_tcn_evobrain_hybrid.md
Due: none

Path conditions:
  no-requirements-txt: any file but: ^(\.git/|docs/)
  makefile-help: any of: ^Makefile$
