Repository Clarity-Digital-Twin/brain-go-brr-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-requirements-txt, makefile-help

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run pre-commit install
# Run: uv run pre-commit run --all-files

repos:
  # UV lock file updates
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.24
    hooks:
      - id: uv-lock

  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8, etc.)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-tqdm, pydantic]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|notebooks/)

  # YAML/TOML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # Jupyter notebook cleanup
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-ruff
        args: [--fix]
      - id: nbqa-mypy
        args: [--ignore-missing-imports]

  # Clear Jupyter outputs
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: [--strip-empty-cells]

# Local hooks for custom checks
  - repo: local
    hooks:
      - id: no-requirements-txt
        name: No requirements.txt allowed (use pyproject.toml)
        entry: 'requirements\.txt'
        language: pygrep
        types: [text]
        exclude: ^(\.git/|docs/)

      - id: makefile-help
        name: Check Makefile has help target
        entry: '^help:'
        language: pygrep
        files: ^Makefile$
        pass_filenames: false

fix: Refactor adjacency matrix conditioning and Laplacian computation for improved clarity in GNN model
  src/brain_brr/models/gnn_pyg.py
Due: no-requirements-txt

fix: Refactor eigendecomposition process in GNN model for improved numerical stability
  src/brain_brr/models/gnn_pyg.py
Due: no-requirements-txt

fix: Update smoke test command in settings.local.json for improved validation
  .claude/settings.local.json
  src/brain_brr/models/detector.py
Due: no-requirements-txt

fix: Remove obsolete test script for SeizureDetector in PR-5
  test_pr5.py
Due: no-requirements-txt

fix: Remove minimal smoke test configuration and update edge similarity margin for improved stability
  configs/local/smoke.yaml
  configs/local/smoke_minimal.yaml
  configs/local/train.yaml
  configs/modal/smoke.yaml
  configs/modal/train.yaml
Due: no-requirements-txt

fix: Implement architectural stability improvements and finalize clamp cleanup
  docs/10-final-refactor/ARCHITECTURAL_INSTABILITY_FIX.md
  docs/10-final-refactor/NAN_CANONICAL.md
  docs/10-final-refactor/PR1_BOUNDARY_NORMALIZATION_PLAN.md
  docs/10-final-refactor/PR1_FINAL_STATUS.md
  docs/10-final-refactor/PR1_IMPLEMENTATION_SUMMARY.md
  docs/10-final-refactor/PR2_BOUNDED_EDGE_STREAM_PLAN.md
  docs/10-final-refactor/PR2_FINAL_STATUS.md
  docs/10-final-refactor/PR3_ADJACENCY_CONDITIONING_PLAN.md
  docs/10-final-refactor/PR4_CLAMP_RETIREMENT_PLAN.md
  docs/10-final-refactor/PR5_DEFINITIVE_CLEANUP.md
  src/brain_brr/config/schemas.py
  src/brain_brr/models/detector.py
  src/brain_brr/models/gnn_pyg.py
Due: no-requirements-txt

fix: Ensure edge similarity margin is a float for consistent edge feature calculations
  src/brain_brr/models/detector.py
Due: no-requirements-txt

fix: Enhance edge similarity margin extraction for type safety in SeizureDetector
  src/brain_brr/models/detector.py
Due: no-requirements-txt

fix: Update edge similarity margin documentation and enhance stability measures
  docs/03-configuration/config-schema.md
  docs/03-configuration/local-configs.md
  docs/04-model/gnn.md
  docs/04-model/laplacian-pe.md
  docs/08-operations/nan-prevention-complete.md
  docs/08-operations/troubleshooting.md
  docs/10-final-refactor/NAN_CANONICAL.md
Due: none

fix: Update architectural NaN analysis documentation and finalize stability measures
  docs/10-final-refactor/PR5_DEFINITIVE_CLEANUP.md
  docs/ARCHITECTURAL_NAN_ANALYSIS.md
Due: none

fix: Update modal configuration documentation to include edge similarity margin
  docs/03-configuration/modal-configs.md
  docs/03-configuration/schema-validation.md
  docs/10-final-refactor/ARCHITECTURAL_INSTABILITY_FIX.md
Due: none

fix: Document architectural stability improvements in README
  README.md
Due: no-requirements-txt

docs: Update root documentation for v3.2.0 release
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/archive/ARCHITECTURAL_NAN_ANALYSIS.md
  docs/archive/CRITICAL-NAMING-CONVENTION.md
  docs/archive/P0-P3-BLOCKERS.md
  docs/archive/S3-MODAL-CACHE-UPLOAD-PROCEDURE.md
Due: no-requirements-txt

docs: Update cache layout and CLI usage documentation
  docs/02-data/cache-layout.md
  docs/07-cli-tools/cli-usage.md
  docs/08-operations/troubleshooting.md
  docs/archive/ARCHITECTURAL_NAN_ANALYSIS.md
  docs/archive/CRITICAL-NAMING-CONVENTION.md
  docs/archive/P0-P3-BLOCKERS.md
  docs/archive/S3-MODAL-CACHE-UPLOAD-PROCEDURE.md
Due: none

docs: Revise documentation for clarity and integration of archived content
  docs/00-overview/architecture-summary.md
  docs/10-final-refactor/PR5_DEFINITIVE_CLEANUP.md
  docs/README.md
Due: none

chore: Bump version to 3.2.0 and update project description
  .claude/settings.local.json
  pyproject.toml
  src/brain_brr/__init__.py
  tests/unit/models/test_pr1_normalization.py
Due: no-requirements-txt

docs: Update CLAUDE.md and architecture documentation for v3.2.0 enhancements
  CLAUDE.md
  docs/04-model/v3-architecture.md
  docs/08-operations/pr5-edge-similarity-clamping.md
  tests/unit/models/test_pr2_bounded_edge.py
  tests/unit/models/test_pr4_clamp_retirement.py
Due: no-requirements-txt

docs: Update edge similarity margin documentation and GNN stability tips
  docs/00-overview/overview.md
  docs/04-model/edge-features-and-adjacency.md
  docs/04-model/gnn.md
  docs/05-training/local.md
  docs/08-operations/troubleshooting.md
Due: none

fix: Enhance test robustness with conditional SeizureDetector import
  tests/unit/models/test_pr1_normalization.py
  tests/unit/models/test_pr2_bounded_edge.py
  tests/unit/models/test_pr4_clamp_retirement.py
Due: no-requirements-txt

refactor: Simplify PyG import handling in unit tests
  tests/unit/models/test_pr1_normalization.py
  tests/unit/models/test_pr2_bounded_edge.py
  tests/unit/models/test_pr4_clamp_retirement.py
Due: no-requirements-txt

refactor: Update local training configuration for consistency
  configs/local/train.yaml
Due: no-requirements-txt

chore: Update local settings for training log monitoring
  .claude/settings.local.json
Due: no-requirements-txt

chore: Enhance local settings for training log monitoring
  .claude/settings.local.json
Due: no-requirements-txt

chore: Update modal configuration for dynamic positional encoding and edge similarity margin
  configs/LOCAL_CONFIG_CONSISTENCY.md
  configs/MODAL_A100_CONSISTENCY.md
  configs/README.md
  configs/modal/train.yaml
Due: no-requirements-txt

chore: Update CONFIG_CONSISTENCY_CHECK.md for version 3.2.0
  configs/CONFIG_CONSISTENCY_CHECK.md
Due: no-requirements-txt

chore: Update local configuration documentation for V3 architecture
  docs/03-configuration/local-configs.md
Due: none

docs: Update V3 architecture documentation with recommended stability practices
  docs/04-model/v3-architecture.md
Due: none

chore: Update configuration documentation for modal resource allocation and local smoke test settings
  configs/README.md
  configs/local/smoke.yaml
  configs/local/train.yaml
Due: no-requirements-txt

docs: Update time-frequency hybrid and troubleshooting documentation
  docs/04-model/time-frequency-hybrid.md
  docs/08-operations/troubleshooting.md
  docs/09-development/versioning-and-roadmap.md
Due: none

docs: Update time-frequency hybrid and troubleshooting documentation
  Makefile
  configs/local/train.yaml
  configs/modal/smoke.yaml
  configs/modal/train.yaml
  docs/03-configuration/config-schema.md
  docs/04-model/gnn.md
Due: no-requirements-txt, makefile-help

docs: Revise installation guide for Brain-Go-Brr V3
  INSTALLATION.md
  README.md
Due: no-requirements-txt

docs: Update boundary normalization and bounded edge stream planning documents
  docs/10-final-refactor/PR1_BOUNDARY_NORMALIZATION_PLAN.md
  docs/10-final-refactor/PR2_BOUNDED_EDGE_STREAM_PLAN.md
Due: none

docs: Update adjacency matrix conditioning planning document
  docs/10-final-refactor/PR3_ADJACENCY_CONDITIONING_PLAN.md
  docs/10-final-refactor/PR4_CLAMP_RETIREMENT_PLAN.md
Due: none

chore: Release v3.2.1 - Production training release
  CHANGELOG.md
  pyproject.toml
Due: no-requirements-txt

docs: Update AGENTS.md for V3 architecture clarity
  AGENTS.md
  CLAUDE.md
Due: no-requirements-txt

docs: Enhance README.md with stability implementation details
  docs/README.md
Due: none

docs: Enhance README.md with stability implementation details
  docs/10-final-refactor/ARCHITECTURAL_INSTABILITY_FIX.md
Due: none

docs: Update AGENTS.md and related files for training configuration clarity
  AGENTS.md
  CLAUDE.md
  INSTALLATION.md
  SETUP.md
  configs/local/smoke.yaml
  configs/local/train.yaml
  docs/08-operations/v3-nan-explosion-resolution.md
  docs/10-final-refactor/NAN_CANONICAL.md
Due: no-requirements-txt

refactor: Remove ClampRetirementConfig from schemas.py
  src/brain_brr/config/schemas.py
Due: no-requirements-txt

Revert "refactor: Remove ClampRetirementConfig from schemas.py"
  src/brain_brr/config/schemas.py
Due: no-requirements-txt
